
.titulo{
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
    
}
#nombre{
  color: #db10e6;
  text-align: center;
  font-family: cursive;
  font-size: medium;
}//para los diferentes colores avatar ,centrar 

#myinput{
  color:rgb(217, 0, 255);
}

#myAvatar{
  display: block;
  margin: auto;
}
.transparent-input input {
  background-color: transparent !important;
  border-color: transparent !important;
}
.card {
  width: 190px;
  padding: 1.9rem 1.2rem;
  text-align: center;
  background: #2a2b38;
 }
 
 /*Inputs*/
 .field {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: .5em 1em;
 }
 
 .input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
 }
 
 .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
 }
 
 /*Text*/
 .title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #7c67f1;
  font-size:medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 /*Buttons*/
 .btn {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #de10f547;
  color: #0b0b0beb;
  box-shadow: 0 8px 24px 0 rgba(0, 255, 234, 0.276);
  transition: all .3s ease-in-out;
 }
 
 .btn-link {
  color: #000000fe;
  display: block;
  font-size: .75em;
  transition: color .3s ease-out;
 }
 
 /*Hover & focus*/
 .field input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
 }
 
 .btn:hover {
  background-color: #cf16c3;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(153, 8, 220, 0.854);
 }
 
 .btn-link:hover {
  color: #fca7ff;
 }
.tamaño{
   

  

    font-size: 30px; /* Cambiar el tamaño de los íconos */
    margin: 10px; /* Espacio entre los íconos (opcional) */
  }
  
