<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="imagen-toolbar" src="../../assets/img/imagenes/game-console_1083364.png ">

  </ion-toolbar>


</ion-header >


<H1 class="titulo">THE GA<span>ME STORE </span></H1>




<ion-content [fullscreen]="true"

  style="--background: url() no-repeat center center fixed; width: 100%;height: auto;">
  <ion-content [fullscreen]="true" class="imagen-principal">


    <ion-card class="card">
      <img alt="Silhouette of mountains"
        src="../../assets/img/imagenes/discoteca-moderna-iluminacion-tecnologia-futurista-generada-ia.jpg" />
      <ion-card-header class="card">
        <ion-card-title class="text-title ">Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="text-body">
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>





  </ion-content>
  </ion-content>
  