
  
/* Estilo personalizado para la barra de búsqueda */
.my-custom-searchbar {
  --background: #0004f918; /* Cambiar el color de fondo */
  --placeholder-color: #888888; /* Cambiar el color del texto de placeholder */
  --color: #000000; /* Cambiar el color del texto */
  --border-color: #dddddd; /* Cambiar el color del borde */
  /* Agregar más estilos según tus necesidades */
}

 